{
  "env": {
    "browser": true
  },
  "globals": {
    "forEach": true,
    "isDefined": true,
    "isNumber": true,
    "isString": true
  },
  "rules": {
    "no-mixed-spaces-and-tabs": [2],
    "quotes": [2, "single", "avoid-escape"],
    "no-underscore-dangle": 1,
    "no-unused-expressions": 1,
    "curly": [2, "multi-line"],
    "strict": 0,
    "no-use-before-define": 2,
    "eqeqeq": 1,
    "new-cap": [2, {"capIsNew": false}],
    "dot-notation": [2, {"allowKeywords": false}],
    "no-console": 0,
    "no-return-assign": 1,
    "no-shadow": 1,
    "comma-dangle": 1,
    "func-style": [2, "declaration"],
    "no-constant-condition": 2,
    "no-debugger": 2,
    "no-empty": 2,
    "no-extra-parens": 2,
    "valid-typeof": 2,
    "no-unreachable": 2,
    "complexity": 1,
    "default-case": 1,
    "no-unused-vars": 1
  }
}