body {
    font-family: Verdana, Geneva, sans-serif;
    color: #333;
}

.btn-primary {
    background-color: #FF7500;
    border-color: #FF6500;
}

.btn {
    min-width: 160px;
    border-radius: 2px;
}

.container {
    padding-bottom: 20px;
}
